body{
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #fff;
}

.navJog{
    width: 40px;
    height: 40px;
    background-image: url("nave_jog.gif");
    position: absolute;
}

.telaMsg{
    position: absolute;
    margin-left: -25%;
    top: 50px;
    left: 50%;
    width: 720px;
    height: 621px;
    display: none;
}

#medidorPlaneta{
    border: 2px solid #000;
    width: 300px;
    height: 20px;
    background-color: #fff;
}

#barraPlaneta{
    width: 300px;
    height: 20px;
    background-color: #55f;
}

.tiroJog{
    width: 6px;
    height: 6px;
    background-color: #000;
    border-radius: 6px;
    position: absolute;
}

.bomba{
    width: 24px;
    height: 40px;
    background-image: URL("bomba.gif");
    position: absolute;
}